<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
   <Package Name="Chartacritty" UpgradeCode="87c21c74-dbd5-4584-89d5-46d9cd0c40a7" Language="1033" Codepage="1252" Version="0.14.0-dev" Manufacturer="Chartacritty" InstallerVersion="200">
      <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <Icon Id="ChartacrittyIco" SourceFile=".\chartacritty\windows\chartacritty.ico" />
      <WixVariable Id="WixUILicenseRtf" Value=".\chartacritty\windows\wix\license.rtf" />
      <Property Id="ARPPRODUCTICON" Value="ChartacrittyIco" />
      <MediaTemplate EmbedCab="yes" />
      <ui:WixUI Id="WixUI_Minimal" />
      <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
         <ComponentRef Id="ChartacrittyExe" />
         <ComponentRef Id="ChartacrittyShortcut" />
         <ComponentRef Id="ModifyPathEnv" />
         <ComponentRef Id="ContextMenu" />
      </Feature>
      <!-- Application binaries -->
      <DirectoryRef Id="ChartacrittyProgramFiles">
         <Component Id="ChartacrittyExe">
            <File Id="ChartacrittyExeFile" Source=".\target\release\chartacritty.exe" Name="chartacritty.exe" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="ChartacrittyProgramMenu">
         <!-- Application shortcut -->
         <Component Id="ChartacrittyShortcut" Guid="aa36e61a-23cd-4383-b744-2f78e912f0dc">
            <Shortcut Id="ChartacrittyShortcutFile" Name="Chartacritty" Description="A cross-platform, GPU-accelerated terminal emulator" Target="[ChartacrittyProgramFiles]chartacritty.exe" />
            <RemoveFolder Id="ChartacrittyProgramMenu" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Microsoft\Chartacritty" Name="installed" Type="integer" Value="1" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="ChartacrittyProgramFiles">
         <!-- Add to PATH -->
         <Component Id="ModifyPathEnv" Guid="edf0b679-9eb6-46f7-a5d1-5160f30acb34" KeyPath="yes">
            <Environment Id="PathEnv" Value="[ChartacrittyProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes" />
         </Component>
      </DirectoryRef>
      <StandardDirectory Id="ProgramFiles64Folder">
         <Directory Id="ChartacrittyProgramFiles" Name="Chartacritty" />
      </StandardDirectory>
      <StandardDirectory Id="ProgramMenuFolder">
         <Directory Id="ChartacrittyProgramMenu" Name="Chartacritty" />
      </StandardDirectory>
      <!-- Add context menu -->
      <Component Id="ContextMenu" Guid="449f9121-f7b9-41fe-82da-52349ea8ff91" Directory="TARGETDIR">
         <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Chartacritty here\command">
            <RegistryValue Type="string" Value="[ChartacrittyProgramFiles]chartacritty.exe" KeyPath="yes" />
         </RegistryKey>
         <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Chartacritty here">
            <RegistryValue Type="string" Name="Icon" Value="[ChartacrittyProgramFiles]chartacritty.exe" />
         </RegistryKey>
      </Component>
   </Package>
</Wix>
